
div {
	font-family: arial, helvetica;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	border: black solid thick;
	padding: 5%;
	box-shadow:  10px 10px 5px #888888;
}
h1 {
	text-align: center
}
h1:hover {
	color: orange; 
	-webkit-transition: 2s;
	transition: 2s;
}

.images {
	border-radius: 20px;
	display: block;
	height: auto;
	width: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	box-shadow: 10px 10px 5px #888888;
	transition: 0.5s;
}
.images:hover {
	transform: scale(1.1);

}
section {
	margin: 5%;
}